<%= error_messages_for :toast %>
<% form_for @toast, :html => {:multipart => true} do |f| %>
  <%= hidden_field_tag :format, 'js' %>
  <%= hidden_field_tag :upload_id, '' %>
  <p>
    <%= f.label :photo %><br />
    <span class="attach_file">
      <%= image_tag 'attach.png' %>
      <%= f.file_field :photo %>
    </span>
  </p>

  <p id="status">
  </p>

  <ul id="files">
  </ul>
<% end %>
